<launch>
    <group ns="uav0">
        <!--MAVROS and vehicle configs -->
        <!-- <arg name="ID" value="0"/> -->
        <!-- <arg name="fcu_url" default="udp://:14540@127.0.0.1:14557"/>
        <arg name="gcs_url" default="udp://@localhost"/> -->
            <!-- PX4 SITL and vehicle spawn
            <include file="$(find px4)/launch/single_vehicle_spawn.launch">
                <arg name="x" value="0"/>
                <arg name="y" value="0"/>
                <arg name="z" value="0"/>
                <arg name="R" value="0"/>
                <arg name="P" value="0"/>
                <arg name="Y" value="0"/>
                <arg name="vehicle" value="$(arg vehicle)"/>
                <arg name="mavlink_udp_port" value="14560"/>
                <arg name="mavlink_tcp_port" value="4560"/>
                <arg name="ID" value="$(arg ID)"/>
                <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
                <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
                <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/> -->
            <!-- </include> -->
            <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
            <arg name="gcs_url" value="udp://@localhost"/>
            <!-- <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/> -->
        </include>
    </group>
    <!-- UAV1 -->
    <group ns="uav1">
        <!--MAVROS and vehicle configs -->
        <!-- <arg name="ID" value="1"/> -->
        <!-- <arg name="fcu_url" default="udp://:14541@127.0.0.1:14558"/>
        <arg name="gcs_url" default="udp://@localhost"/>  -->
        <!-- PX4 SITL and vehicle spawn -->
        <!-- <include file="$(find px4)/launch/single_vehicle_spawn.launch">
            <arg name="x" value="1"/>
            <arg name="y" value="0"/>
            <arg name="z" value="0"/>
            <arg name="R" value="0"/>
            <arg name="P" value="0"/>
            <arg name="Y" value="0"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="mavlink_udp_port" value="14561"/>
            <arg name="mavlink_tcp_port" value="4561"/>
            <arg name="ID" value="$(arg ID)"/>
            <arg name="gst_udp_port" value="$(eval 5600 + arg('ID'))"/>
            <arg name="video_uri" value="$(eval 5600 + arg('ID'))"/>
            <arg name="mavlink_cam_udp_port" value="$(eval 14530 + arg('ID'))"/>
        </include> -->
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="udp://:14541@127.0.0.1:14558"/>
            <arg name="gcs_url" value="udp://@localhost"/>
            <!-- <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/> -->
        </include>
    </group>
</launch>

